<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staff Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/typicons/typicons.css}">
    <link rel="stylesheet"
          th:href="@{../../../staradmin/src/assets/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet"
          th:href="@{../../../staradmin/src/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../../../staradmin/src/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{../../../staradmin/src/assets/images/favicon.png}"/>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Staff Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/staff/students}">Student List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Staff Dashboard</h1>
            <p>Use the navigation menu to manage student details and update their status.</p>

            <h3>Actions:</h3>
            <ul>
                <li><a th:href="@{/staff/students}">View Student List</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
