<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Staff Dashboard</h1>

    <div class="list-group">
        <a href="/staff/viewScores" class="list-group-item list-group-item-action">View Scores</a>
<!--        <a href="/staff/averageScore" class="list-group-item list-group-item-action">View Average Score</a>-->
        <a href="/staff/updateStatus" class="list-group-item list-group-item-action">Update Student Status</a>
    </div>

    <footer class="mt-4">
        <p>&copy; 2024 Your Company Name</p>
    </footer>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
