<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Next Fee</title>
</head>
<body>
<h1>Thông tin học phí tiếp theo</h1>

<div>
    <h2>Đợt Nộp Học Phí Tiếp Theo</h2>
    <p>Đã đóng: <span th:text="${feeDTO.status == 'PAID' ? 'Đã đóng' : 'Chưa đóng'}"></span></p>
    <p>Ngày Hạn: <span th:text="${feeDTO.dueDate}"></span></p>
    <p>Số Tiền: <span th:text="${feeDTO.amount}"></span></p>
</div>

<a href="/api/fees/next/1">Xem đợt nộp học phí của học viên có ID là 1</a> <!-- Thay ID phù hợp -->
</body>
</html>
