<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/typicons/typicons.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/staradmin/src/assets/js/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/staradmin/src/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/staradmin/src/assets/images/favicon.png}"/>


    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/staradmin/src/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/staradmin/src/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/staradmin/src/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/staradmin/src/css/style.css}" rel="stylesheet">

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Our Team, ​United States Team, ​Meet Our Global Team, ​Become a Volunteer">
    <meta name="description" content="">
    <title>Page 1</title>
    <link rel="stylesheet" th:href="@{/listStudent/nicepage.css}" media="screen">
    <link rel="stylesheet" th:href="@{/listStudent/Page-1.css}" media="screen">
    <script class="u-script" type="text/javascript" th:src="@{/listStudent/jquery.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/listStudent/nicepage.js}" defer=""></script>
    <meta name="generator" content="Nicepage 6.16.5, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i">


    <meta name="theme-color" content="#f06e49">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">


    <style>
        .bg-hover-primary:hover {
            background-color: #f0f0f0;
        }

        .bg-hover-primary {
            background-color: white;
            text-align: center;
        }
    </style>
</head>
<body class="with-welcome-text">
<div class="container-scroller">
    <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
        </div>
    </div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="/staradmin/src/assets/images/logo2.svg" alt="logo"/>
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="/staradmin/src/assets/images/logo-mini.svg" alt="logo"/>
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item fw-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">MR.H</span></h1>
                    <h3 class="welcome-sub-text">Your performance summary this week </h3>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown d-none d-lg-block">
                </li>
                <li class="nav-item d-none d-lg-block">
                    <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                <span class="input-group-addon input-group-prepend border-right">
                  <span class="icon-calendar input-group-text calendar-icon"></span>
                </span>
                        <input type="text" class="form-control">
                    </div>
                </li>
                <li class="nav-item">
                    <form class="search-form" action="#">
                        <i class="icon-search"></i>
                        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                        <i class="icon-bell"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="notificationDropdown">
                        <a class="dropdown-item py-3 border-bottom">
                            <p class="mb-0 fw-medium float-start">You have 4 new notifications </p>
                            <span class="badge badge-pill badge-primary float-end">View all</span>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-alert m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                                <p class="fw-light small-text mb-0"> Just now </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-lock-outline m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                                <p class="fw-light small-text mb-0"> Private message </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-airballoon m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                                <p class="fw-light small-text mb-0"> 2 days ago </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="icon-mail icon-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="countDropdown">
                        <a class="dropdown-item py-3">
                            <p class="mb-0 fw-medium float-start">You have 7 unread mails </p>
                            <span class="badge badge-pill badge-primary float-end">View all</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="staradmin/src/assets/images/faces/face10.jpg" alt="image"
                                     class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis fw-medium text-dark">Marian Garner </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="staradmin/src/assets/images/faces/face12.jpg" alt="image"
                                     class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis fw-medium text-dark">David Grey </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="staradmin/src/assets/images/faces/face1.jpg" alt="image"
                                     class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis fw-medium text-dark">Travis Jenkins </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="staradmin/src/assets/images/faces/face8.jpg"
                             alt="Profile image"> </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="staradmin/src/assets/images/faces/face8.jpg"
                                 alt="Profile image">
                            <p class="mb-1 mt-3 fw-semibold">Allen Moreno</p>
                            <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile
                            <span class="badge badge-pill badge-danger">1</span></a>
                        <a class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                        <a class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i>
                            Activity</a>
                        <a class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>
                        <a class="dropdown-item" href="/logout"><i
                                class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/staff">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Form elements</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="menu-icon mdi mdi-card-text-outline"></i>
                        <span class="menu-title">Charts</span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="main-panel">

            <!-- Team Start -->
            <div class="container-xxl py-5">
                <div class="container">

                    <!--                    list class /-->

                    <div th:if="${teacherStudentCountDTO != null }">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            <h4 class="section-title bg-white text-center text-primary px-3">Class List</h4>
                            <h1 class="mb-5">List of Existing Classes</h1>
                        </div>
                    </div>
                    <div class="row g-4">

                        <div th:each="teacherStudentCountDTO : ${teacherStudentCountDTO}"
                             class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="staradmin/src/img/anhlop.jpg" alt="">
                                </div>
                                <div class="text-center p-4">

                                    <p class="fs-2 fw-bold">Class:<small
                                            th:text="${teacherStudentCountDTO.className.className}">Class
                                        Name</small></p>
                                    <p class="fs-6">Number of Students:<small
                                            th:text="${teacherStudentCountDTO.numberOfStudents}">number Of
                                        Students</small></p>
                                    <a class="nav-link"
                                       th:href="@{/staff/studentList/{id} (id=${teacherStudentCountDTO.className.classId})}">
                                        SHOW </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    end-->
                    <div th:if="${student != null }">
                        <header class="u-clearfix u-header u-header" id="sec-0248">
                            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                                <section class="u-clearfix u-container-align-center u-white u-section-3"
                                         id="carousel_9dc6">
                                    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                                        <h2 class="u-align-center u-text u-text-default u-text-1"
                                            data-animation-name="customAnimationIn"
                                            data-animation-duration="1500" data-animation-delay="250"> Student List</h2>
                                        <div class="u-expanded-width u-list u-list-1">
                                            <div class="u-repeater u-repeater-1">
                                                <div th:each="students : ${student}">
                                                    <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
                                                         data-href="#" data-animation-direction="Up"
                                                         data-animation-name="customAnimationIn"
                                                         data-animation-duration="1500" data-animation-delay="500">
                                                        <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-1">
                                                            <img class="u-border-10 u-border-palette-1-base u-image u-image-circle u-preserve-proportions u-image-1"
                                                                 th:src="@{/listStudent/images/img.png}" alt=""
                                                                 data-image-width="700" data-image-height="681"
                                                                 data-animation-name="customAnimationIn"
                                                                 data-animation-duration="1500"
                                                                 data-animation-delay="750">
                                                            <a class="nav-link"
                                                               th:href="@{/staff/grades/{id}  (id=${students.idStudent})}">
                                                                <div style="margin-right: 100px"
                                                                     class=" bg-hover-primary u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-1">
                                                                    <h6 style="color: #0f0f0f"
                                                                        class=" u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-2"
                                                                        th:text="${students.nameStudent}">
                                                                        name</h6>
                                                                    <p style="color: #0a3622"
                                                                       class=" u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-3"
                                                                       th:text="${students.gmail}">
                                                                        email</p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </header>
                    </div>
                    <!--                    ///////////////////////////////////////////-->


                    <!--                    điểm-->
                    <div th:if="${classAverageGradeDTO} != null">
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="grid-margin stretch-card">
                                        <div class="col-lg-12 stretch-card">
                                            <div class="card">
                                                <div class="card-body">
<!--                                                    <h3 th:text="status"> </h3>-->
                                                    <h4 class="card-title">Summary of subject scores</h4>
                                                    <div class="table-responsive pt-3" style="height: 50vh">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th> #</th>
                                                                <th> First name</th>
                                                                <th> Subjects</th>
                                                                <th> theory</th>
                                                                <th> Practise</th>
                                                                <th> Averagegrade</th>
                                                                <th> Result</th>
                                                                <th> Options</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <div th:each="classAverageGrade,iterStat  : ${classAverageGradeDTO}">
                                                                <tr c
                                                                    lass="table-info">
                                                                    <td th:text="${iterStat.index + 1}">1</td>
                                                                    <td th:text="${classAverageGrade.studentName.user.fullName}"></td>
                                                                    <td th:text="${classAverageGrade.subjectName.subjectName}"></td>
                                                                    <td th:text="${classAverageGrade.grade.theoryGrade}"></td>
                                                                    <td th:text="${classAverageGrade.grade.practicalGrade}"></td>
                                                                    <td th:text="${classAverageGrade.grade.averageGrade}"></td>
                                                                    <div th:if="${classAverageGrade.grade.averageGrade >= 5}">
                                                                        <td class="fs-6 text-success">Pass</td>
                                                                    </div>
                                                                    <div th:if="${classAverageGrade.grade.averageGrade < 5}">
                                                                        <td class="fs-6 text-danger">Fail</td>
                                                                    </div>
                                                                    <td style="display: flex;justify-content: center;">
                                                                        <div style="height: 16px;"
                                                                             class="template-demo d-flex justify-content-between flex-wrap">
                                                                            <div class="dropdown">
                                                                                <button style="position: relative;top: -5px"
                                                                                        type="button"
                                                                                        class="btn btn-sm dropdown-toggle "
                                                                                        id="dropdownMenuIconButton9"
                                                                                        data-bs-toggle="dropdown"
                                                                                        aria-haspopup="true"
                                                                                        aria-expanded="false">
                                                                                    <i class="ti-user"></i>
                                                                                </button>
                                                                                <div style="transform: translate(-71px, 47px);"
                                                                                     class="dropdown-menu"
                                                                                     aria-labelledby="dropdownMenuIconButton9">
                                                                                    <h6 class="dropdown-header">
                                                                                        Settings</h6>
                                                                                    <a class="dropdown-item"
                                                                                       th:href="@{/staff/add/{idStudent}/{idGrade} (idStudent=${classAverageGrade.studentName.studentId},idGrade=${classAverageGrade.grade.gradeId}) }">Edit</a>
                                                                                    <a class="dropdown-item" th:onclick="'doDelete(' + ${classAverageGrade.studentName.studentId} + ',' + ${classAverageGrade.grade.gradeId} + ')'">Delete</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                            </div>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                            /////////////////////////////////////////////////////////////////////////////////-->
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2024. All rights reserved.</span>
                    </div>
                </footer>

            </div>
        </div>

    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="staradmin/src/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="staradmin/src/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="staradmin/src/assets/vendors/chart.js/chart.umd.js"></script>
<script src="staradmin/src/assets/vendors/progressbar.js/progressbar.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="staradmin/src/assets/js/off-canvas.js"></script>
<script src="staradmin/src/assets/js/template.js"></script>
<script src="staradmin/src/assets/js/settings.js"></script>
<script src="staradmin/src/assets/js/hoverable-collapse.js"></script>
<script src="staradmin/src/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="staradmin/src/assets/js/jquery.cookie.js" type="text/javascript"></script>
<script src="staradmin/src/assets/js/dashboard.js"></script>
<!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
<!-- End custom js for this page-->
<script>
    function doDelete(idStudent,idGrade) {
        const check = confirm("do ?");
        if (check) {
            window.location.href = "/staff/deleteGrade/" + idStudent + "/" + idGrade;
        }
    }
</script>


<!-- Footer End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="staradmin/src/lib/wow/wow.min.js"></script>
<script src="staradmin/src/lib/easing/easing.min.js"></script>
<script src="staradmin/src/lib/waypoints/waypoints.min.js"></script>
<script src="staradmin/src/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="staradmin/src/js/main.js"></script>

</body>
</html>